.detail-card {
    padding-left: 1rem;
    margin: 1rem;
}

.container-row{
    display: flex;
    align-items: baseline;
}

h2 {
    margin-left: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 2rem;
}

.row {
    display: flex;
    gap: 1rem;
}

.grow-2 {
    flex-grow: 2;
}

.size-100 {
    width: 100%;
}

mat-card-content{
    margin-top: 1rem;
}

.footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.container-progression {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
